.container {
  width: 100%;
  max-width: var(--max-width);
  margin: auto;
  padding: 1.5rem;
}

.flex {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}
